td {
  border: solid thin black;
  background-color: white;
  height: 15px;
  width: 15px;
}

#header {
    text-align: center;
    width: 100%;
    background-color: white;
    padding: 5px;
    border-top: medium solid black;
    border-bottom: medium solid black;
}

table {
  empty-cells: show;
}

container {
    display: inline;
    width: 100%
}

button, select {
    background-color: white;
    border: thin solid white;
    font-size: 15px;
    padding: 5px 10px;
}

select {
    margin-bottom: 15px;
    border: thin solid black;
    width: 15%;
}

button {
}

button:hover {
    background-color: black;
    color: white;
}
